
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 隐藏滚动条 */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    display: -webkit-box;
    display: -moz-box;
    width: 100%;
    background: #ea413d;
}

.header-1,.header-2 {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.menu-left {
    display: block;
    width: 25px;
    height: 25px;
    margin: 17px 10px 18px 25px;
    background: url("../images/icon.png") no-repeat;
    background-position: -70px -30px;
    background-size: 350px 350px;
}

.menu-logo {
    width: 50px;
    height: 25px;
    margin: 17px 10px 18px 15px;
    /*background: url("../images/icon.png") no-repeat;*/
    /*background-position: -70px -140px;*/
    /*background-size: 350px 350px;*/
}

.menu-left_b {
    position: absolute;
    left: -200px;
    top: 60px;
    height: 100%;
    width: 200px;
    background: white;
}

.left-btn:checked ~ .menu-left_b {
    left:0;
    transition:left 500ms cubic-bezier(0,0,0.25,1);
    -moz-transition:left 500ms cubic-bezier(0,0,0.25,1); /* Firefox 4 */
    -webkit-transition:left 500ms cubic-bezier(0,0,0.25,1); /* Safari and Chrome */
    -o-transition:left 500ms cubic-bezier(0,0,0.25,1); /* Opera */
}

.left-btn ~ .menu-left_b {
    left:-200px;
    transition:left 500ms cubic-bezier(0,0,0.25,1);
    -moz-transition:left 500ms cubic-bezier(0,0,0.25,1); /* Firefox 4 */
    -webkit-transition:left 500ms cubic-bezier(0,0,0.25,1); /* Safari and Chrome */
    -o-transition:left 500ms cubic-bezier(0,0,0.25,1); /* Opera */
}

.user-img {
    /*position: absolute;*/
    /*right: 50px;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*margin: 10px 10px 10px 15px;*/
    /*background: url("../images/icon.png") no-repeat;*/
    /*background-position: -70px -70px;*/
    /*background-size: 350px 350px;*/
}

.user-img:after {
    /*position: absolute;*/
    /*right: -5px;*/
    /*top: -5px;*/
    /*content: '';*/
    /*display: block;*/
    /*width: 5px;*/
    /*height: 5px;*/
    /*background: transparent;*/
    /*border: 2px solid white;*/
    /*border-radius: 5px;*/
}

.menu-right {
    display: block;
    position: absolute;
    right: 0;
    width: 6px;
    height: 25px;
    margin: 17px 20px 17px 20px;
    background: url("../images/icon.png") no-repeat;
    background-position: -70px -175px;
    background-size: 350px 350px;
}

/*.menu-right:hover {*/
    /*background: #c73734;*/
/*}*/

.right-btn,.left-btn,.pull-down,.more {
    display: none;
}

.more {
    position: absolute;
    top: 52px;
    right: 5px;
    width: 100px;
    list-style: none;
    line-height: 25px;
    margin: 0;
    padding: 0;
    background: white;
    box-shadow: 0 0 5px 1px #9B9C9D;
    border-radius: 2px;
    z-index: 1000;
}

.right-btn:checked ~ .more {
    display: block;
}

.tab {
    display: -webkit-box;
    display: -moz-box;
}

.tab-b {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-flex: 1;
    overflow: hidden;
}

.tab-b>div {
    padding: 10px 5px 8px 5px;
    margin: 0 5px;
    border-bottom: 2px solid #ea413d;
}

.tab-title {
    /*position: absolute;*/
    -webkit-box-flex: 1;
    left: 0;
    height: 38px;
    line-height: 38px;
    background: wheat;
    opacity: 1;
    display: none;
    transition:display 500ms cubic-bezier(0,0,0.25,1);
    -moz-transition:display 500ms cubic-bezier(0,0,0.25,1); /* Firefox 4 */
    -webkit-transition:display 500ms cubic-bezier(0,0,0.25,1); /* Safari and Chrome */
    -o-transition:display 500ms cubic-bezier(0,0,0.25,1); /* Opera */
}

.pull-down-btn {
    display: block;
    width: 25px;
    height: 16px;
    padding: 11px 10px 11px 10px;
    background: url("../images/icon.png") no-repeat;
    background-position: -60px -197px;
    background-size: 350px 350px;
    background-clip: content-box;
}

.pull-down-btn:hover {
}

.tab-choice {
    position: absolute;
    left: 0;
    top: 98px;
    height: 0;
    width: 100%;
    background: white;
    overflow: hidden;
    transition:height 500ms cubic-bezier(0,0,0.25,1);
    -moz-transition:height 500ms cubic-bezier(0,0,0.25,1); /* Firefox 4 */
    -webkit-transition:height 500ms cubic-bezier(0,0,0.25,1); /* Safari and Chrome */
    -o-transition:height 500ms cubic-bezier(0,0,0.25,1); /* Opera */
    z-index: 1;
}

.pull-down:checked ~ .tab-choice {
    height:100%;
    transition:height 500ms cubic-bezier(0,0,0.25,1);
    -moz-transition:height 500ms cubic-bezier(0,0,0.25,1); /* Firefox 4 */
    -webkit-transition:height 500ms cubic-bezier(0,0,0.25,1); /* Safari and Chrome */
    -o-transition:height 500ms cubic-bezier(0,0,0.25,1); /* Opera */
}

.pull-down:checked ~ .pull-down-btn {
    transform: rotate(180deg);
}

.pull-down:checked ~ .tab-title {
    display: block;
    transition:display 500ms cubic-bezier(0,0,0.25,1);
    -moz-transition:display 500ms cubic-bezier(0,0,0.25,1); /* Firefox 4 */
    -webkit-transition:display 500ms cubic-bezier(0,0,0.25,1); /* Safari and Chrome */
    -o-transition:display 500ms cubic-bezier(0,0,0.25,1); /* Opera */
}

.pull-down:checked ~ .tab-b {
    display: none;
}

.container {
    overflow: hidden;
}

.scroll,.img-scroll {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    /*-webkit-transform: translateX(0);*/
    transition:-webkit-transform 0s cubic-bezier(0,0,0.25,1);
    -moz-transition:-webkit-transform 0s cubic-bezier(0,0,0.25,1); /* Firefox 4 */
    -webkit-transition:-webkit-transform 0s cubic-bezier(0,0,0.25,1); /* Safari and Chrome */
    -o-transition:-webkit-transform 0s cubic-bezier(0,0,0.25,1); /* Opera */
    text-align: center;
}

.scroll img,.img-scroll img {
    width: 100%;
}

.scroll-other {
    transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
}

.scroll section,.img-scroll section {
    width: 100%;
    height: 400px;
    font-size: 50px;
}

/*.scroll:hover {*/
    /*-webkit-transform: translateX(-200%);*/
/*}*/

.scroll section>div{
    /*height: 380px;*/
    margin: 10px 10px;
    border: 2px solid black;
}